.header{
    
     
      

      ion-card{

         
          border-radius:10px;
         
          --background:forestgreen;

          ion-text{

               color:white;
               font-weight:bold;
               font-size:22px;

          }
         
      }
}

ion-content{
    
     
}
ion-header{
    
  ion-toolbar{ 
  --background:forestgreen;

  }
}