<ion-content>

<div class="svg">
  <br>
  <ion-title padding color="light" style="margin-left: 2%"> Alerte </ion-title>
  <ion-title padding  color="light" style="margin-left: 2%"> <b>Contre les épidémies</b> </ion-title>
 
 
     <ion-buttons slot="end">
     <ion-menu-button color="light"></ion-menu-button>
     </ion-buttons>


</div>

<div class="ion-text-center">
  <div>
    <h2 class="one">Vigilance Covid-19</h2>
  </div><br>
  <img src="https://photos.lci.fr/images/1280/720/contamination-monde-covid-e4ca54-0@1x.jpeg">
</div>
</ion-content>