ion-content{
    

    .svg{

             width:50%;
             heigth:10vh;
             border-bottom-right-radius:2000px;
             background-color:forestgreen;

             



      }

}

#cool-button-div {

    position: relative;
    width:200px;
    margin:auto;
    margin-top:50vh;

}



