<ion-content>


  <div class="svg">
        <br>
        <ion-title padding color="light" style="margin-left: 2%"> Suivi </ion-title>
        <ion-title padding  color="light" style="margin-left: 2%"> <b>des patients</b> </ion-title>
       
       
           <ion-buttons slot="end">
           <ion-menu-button color="light"></ion-menu-button>
           </ion-buttons>
  </div><br>

    
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1 class="one"><b>Suivi des patients</b></h1>
         </div>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <ion-col size="10">
             

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7duxwPZrpFJBIXoVSHHLFZqKwALY219qdqQ&usqp=CAU"> 


      </ion-col>
    </div>

     <ion-row >
       <ion-col >
        <p class="ion-text-center">
          Du fait de la pandémie de COVID-19, beaucoup d'entre nous restent à la maison, font moins<br> 
          d'exercice et ont des interactions sociales limitées. Cette situation peut avoir des répercussions<br>
          sur votre santé physique et mentale.Ci-après, figurent des conseils pour vous aider, ainsi que votre<br>
          famille, à rester en bonne santé à la maison pendant cette période de confinement.

        </p>
       </ion-col>
     </ion-row><br>

     <ion-row >
      <ion-col size="10">
           
        <div class="ion-text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhOo_wD9XLb9br0Avxp64nTrHp2VCqN8yYuQ&usqp=CAU"> 

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTODjT-qpa4F7u0DRb7RFU9R_Kj694rNEST0w&usqp=CAU"> 
        </div>
      </ion-col>
     </ion-row><br>

      
    <ion-row >
      <ion-col size="10">
             
        <div class="ion-text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsLNZryn0zlhRW3sKqDEE02jxCKZ-QJmX1OQ&usqp=CAU"> 

             
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi63m7IkJ3VwA0d2krsg-Q_dePGqAcAZYV2A&usqp=CAU"> 
        </div>
  
      </ion-col>
    </ion-row><br>

      <h2 class="ion-text-center"><b>Consignes à adoptées</b></h2><br>
     <ul>
       <li >
         <b>Régle n°1 </b>: Les patients isolés et surveillés à domicile ou en structure dédiée<br>
         (hôtel thérapeutique) sont les patients avec des tableaux pauci-symptomatiques ne nécessitant<br>
         pas une hospitalisation. Cependant, il ne faut pas méconnaitre le risque respiratoire, cardiovasculaire,<br>
        rénal, neurologique, cognitif, psychiatrique, musculo-squelettique, métabolique et nutritionnel.
       </li>
     </ul> <br>

     <ul>
      <li >
        <b>Régle n°2 </b> : Le patient COVID-19 nécessite un suivi régulier des symptômes, en particulier<br>
         entre J6 et J12, pour surveiller l’évolution de l’état général et respiratoire, dépister et prévenir<br>
         les complications vitales (essentiellement cardio-respiratoire et thrombo-emboliques), et évaluer les<br>
         conséquences fonctionnelles. Un suivi plus rapproché ou plus prolongé peut parfois être nécessaire,<br>
         dont la fréquence est à adapter selon l’évolution du patient.
      </li>
    </ul> <br>


    <ul>
      <li >
        <b>Régle n°3 </b> : Le suivi des patients surveillés à domicile repose sur la coordination<br>
        (par le médecin traitant dans le cas général) des soins entre les professionnels de santé de<br>
        première ligne (médecins généralistes, pharmacien(ne)s, kinésithérapeutes, infirmier(es), etc.).
      </li>
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°4 </b> : Les médecins, les infirmiers et les kinésithérapeutes peuvent assurer le<br>
         suivi des patients en présentiel ou à distance (par téléconsultation ou télésoin).
      </li>
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°5 </b> : Il est nécessaire de respecter les mesures barrières et autant que possible<br>
         de distanciation physique lors de la prise en charge. La phase contagieuse est de 8 jours en moyenne<br>
         et commence 1 à 2 jours avant le début des symptômes.
      </li>
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°6 </b> : Avant chaque acte de rééducation, il est nécessaire de vérifier l’absence<br>
         de signes de sévérité qui nécessiteraient une hospitalisation (ou un recours au 15).
      </li>
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°7 </b> : Il n'existe pas, à ce jour, de traitement médicamenteux spécifique du COVID-19<br>
         avec un niveau de preuve suffisant pour être recommandé, en ambulatoire, en dehors d’essais cliniques<br>
         en cours. Une antibioprophylaxie systématique n'est pas recommandée.
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°8 </b> : : Une rééducation/réadaptation à domicile peut être mise en œuvre après la<br>
         phase aigüe, si nécessaire, pour une reprise progressive et contrôlée d'une activité physique<br>
         de faible intensité, pour une reprise de la déambulation et des activités fonctionnelles habituelles<br>
         en respectant la dyspnée, la fatigabilité, et la tolérance chez des patients mono-déficients.<br>
         Un programme de réentrainement ciblé sur l'endurance peut s'avérer nécessaire dans des objectifs<br>
         de retour à l'emploi et aux activités physiques et sociales.
    </ul> <br>

    <ul>
      <li >
        <b>Régle n°9 </b> :  Les différents délais d’isolement de l’entourage et des contacts d’un malade<br>
         sont détaillés en fonction des situations cliniques et virologiques avec un logigramme et tableau<br>
         récapitulatif
    </ul> <br>

    <h2 class="ion-text-center"><b>Pour plus d'informations cliquez sur le bouton ci-dessous</b></h2>
   <!--<ion-button slot="end" fill="clear" color="light" (click)="openModal()">
      <ion-icon name="call" slot="icon-only"></ion-icon>
 </ion-button>-->  
 <!--<body ng-app="starter" class="platform-ios platform-cordova platform-webview">-->
  <!--<ion-pane>-->
   <!--<ion-content>--> 
        <div  id="cool-button-div">
          <ion-button  class="button button-block button-calm" color="primary"  (click)="openModal()">
            <!--Basic: auto-select the icon based on the platform -->
            <ion-icon name="call" slot="icon-only"></ion-icon>
           
            <!-- Advanced: explicity set the icon for each platform -->
            <!--<ion-icon ios="ios-call" md="md-call"></ion-icon>-->
           </ion-button>   
        </div>
    <!--</ion-content>-->
  <!--</ion-pane>-->
<!--</body>-->
       
</ion-content>