

<ion-content>


  <div class="svg">
        <br>
        <ion-title padding color="light" style="margin-left: 2%"> Les </ion-title>
        <ion-title padding  color="light" style="margin-left: 2%"> <b>symptômes</b> </ion-title>
       
       
           <ion-buttons slot="end">
           <ion-menu-button color="light"></ion-menu-button>
           </ion-buttons>

   
 
     </div>


  <ion-grid>
    
     <ion-row>
       
           <ion-col size="4">
             

               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9BYYd391qW7SpLl3lEHSU9qYkxcrWA_6dmg&usqp=CAU
               "> 


           </ion-col>

           <ion-col size="8">
             
 
               <h2>Fièvre</h2>
               <p>

                Le symptôme de la fièvre s'accompagne le plus souvent de frissons, de sueurs et une 
                accélération du pouls. Parfois la fièvre apparaît sans autre symptôme chez l'adulte. 
                Mais on peut aussi avoir de la toux, des maux de tête, un rhume, des vomissements ou 
                des nausées en même temps que la fièvre.
                 

               </p>

           </ion-col>

     </ion-row>


      <ion-row>
       
           <ion-col size="4">
             

               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXw-irBtqDVYeBvEwjft6p70GoL_jRWKc2bg&usqp=CAU"> 


           </ion-col>

           <ion-col size="8">
             
 
               <h2>Toux</h2>
               <p>
                La toux est un réflexe naturel de défense pour expulser les mucosités ou les agents
                irritants des voies respiratoires. Elle peut être aiguë, chronique, sèche ou grasse.
                Elle est, le plus souvent, due à une infection virale mais peut être provoquée par 
                d'autres maladies : reflux gastro-œsophagien, asthme, allergie…
               </p>

           </ion-col>

     </ion-row>



      <ion-row>
       
           <ion-col size="4">
             

               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSwxHhTUAertf__Z-ez3Z6thPzh2Ofvhfu81A&usqp=CAU"> 


           </ion-col>

           <ion-col size="8">
             
 
               <h2>
                Difficultés respiratoires
               </h2>

               <p>


               
                L'insuffisance respiratoire entraîne une mauvaise oxygénation du sang, qui se manifeste
                principalementpar des difficultés respiratoires (ou dyspnée), un essoufflement et une
                fatigue survenant pour des efforts, même très minimes.
                

                                 

               </p>

           </ion-col>


     </ion-row>




      <ion-row>
       
           <ion-col size="4">
             

               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHuGvBT4aAyYTq1iTe_oTz9oyny26EoGtGnA&usqp=CAU"> 


           </ion-col>

           <ion-col size="8">
             
 
               <h2>
                Fatigue
                
                </h2>
               <p>
                La fatigue est un symptôme d'une maladie sous-jacente et est décrite de nombreuses façons,
                allant du sentiment de faiblesse à la fatigue constante ou au manque d'énergie.

               </p>

           </ion-col>

     </ion-row>



     <ion-row>
       
           <ion-col size="4">
             

               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSneaTIIiTwGqWIpYGk0hWd9ZEHGsMNpWrIWQ&usqp=CAU"> 


           </ion-col>

           <ion-col size="8">
             
 
               <h2>Maux de tête</h2>
               <p>
                Les maux de tête peuvent prendre plusieurs formes : céphalée par tension nerveuse, 
                migraines, céphalée de la sinusite et algie vasculaire de la face. Dans de rares cas,
                les maux de tête peuvent indiquer un trouble plus grave qui exige des soins médicaux 
                immédiats.


               </p>

           </ion-col>

     </ion-row>














  </ion-grid>

</ion-content>
